<div class="container">
  <div class="form">
    <h1>Add Fact</h1>
    <form [formGroup]="factForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <mat-form-field class="example-full-width">
          <!-- <textarea matInput placeholder="Enter a fact" id="description" [(ngModel)]="fact.description" [ngModelOptions]="{standalone: true}" required></textarea> -->
          <textarea matInput placeholder="Enter a fact" id="description" class="form-control" formControlName="description" required></textarea>
        </mat-form-field>
      </div>

      <br>
      <button type="submit" mat-raised-button color="accent">Add Fact</button>

    </form>
  </div>
</div>
