mat-toolbar {
    height: 100%;
}

.spacer {
    width: 35%;
}

h1 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 2em;
    cursor: pointer;
}

h1:focus {
    outline: none;
}

.route-card-container {
    margin: 5%;
    width: 200px;
    height: 200px;
    display: inline-block;
    text-align: center;
}

.material-icons {
    font-size: 4em;
}

.card {
    cursor: pointer;
}