<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar class="mat-elevation-z6" color="primary">
  <div class="spacer">
  </div>
  <h1>
    Welcome to {{ title }}!
  </h1>
</mat-toolbar>

<div class="route-card-container" *ngFor="let cr of cardRoutes">
  <mat-card class="card">
    <mat-card-title>
      {{cr.title}}
    </mat-card-title>
    <mat-card-subtitle>
      {{cr.subtitle}}
    </mat-card-subtitle>
    <mat-card-content>
        <i class="material-icons">{{cr.image}}</i>
    </mat-card-content>
  </mat-card>
</div>